<div class="public-shell">
  <c-navbar colorScheme="dark" class="public-topbar" color="dark">
    <c-container fluid>
      <a cNavbarBrand class="fw-semibold">{{ restaurantName }}</a>
      <button
        *ngIf="waiterCounterCall > 0"
        cButton
        color="light"
        variant="outline"
        (click)="callWaiter()"
      >
        Call Waiter
        <c-badge color="primary" class="ms-2">{{ waiterCounterCall }}</c-badge>
        <span class="visually-hidden"></span>
      </button>
    </c-container>
  </c-navbar>

  <c-container class="public-content">
    <router-outlet></router-outlet>
  </c-container>

  <c-footer class="public-footer">
    <div class="small">
      <span>{{year}} - &copy; Universal Restaurant System</span>
    </div>
    <div class="ms-auto small">
      <span>Powered by </span>
      <a [href]="frontendPubicUrl" target="_blank">{{ poweredBy }}</a>
    </div>
  </c-footer>
</div>
