:host ::ng-deep .c-tabs-custom {
    height: 6rem !important;
}

:host ::ng-deep .offcanvas-body {
  height: calc(100vh - 56px - 80px); /* header + cart */
  overflow-y: auto;
}

.product-tile {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.product-tile:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-tile:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.offcanvas-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categories-sticky {
  position: sticky;
  top: -18px; /* header + search */
  background: #212631;
  z-index: 8;
  padding: 5px 0;
}

.offcanvas-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-bottom: 160px; /* spațiu pentru cart */
}

.cart {
  position: sticky;
  bottom: 0;
  color: #ddd;
  background: rgb(0, 0, 0);
  border-top: 1px solid #ddd;
  padding: 12px;
  z-index: 10;
}

.cart-scroll {
  max-height: 25vh;
  overflow-y: auto;
}

.table-open { border: 2px solid #198754;  background-color: #8cf8c7; } 
.table-closed { border: 2px solid #dc3545; background-color: #fa7d88; } 
.waiter-active { border: 2px solid orange !important; background-color: #fad869 !important; } 
.waiter-snoozed { border: 2px solid #adb5bd !important; background-color: #8abef1 !important; }

// #198754;  background-color: #8cf8c7;
// #dc3545; background-color: #fa7d88;